.change_style {
    padding: 1rem;
    background-color: skyblue;
}
.change_style:hover {
    background-color: darkcyan; 
}
.style1 {
    border: 1px dotted skyblue; 
    font-size: 1.5rem; 
    color: skyblue;
}
.style2 {
    border: 1px dotted green;
    font-size: 2rem; 
    color: green;
}
.style3 {
    border: 1px dotted lightcoral; 
    color: lightcoral;
}
.style4 {
    border: 1px dotted brown; 
    font-size: 2rem; 
    color: brown; 
}
.style5 {
    border: 1px dotted yellow; 
    font-size: 1rem;
    color: lightgreen; 
}
.style0 {
    border: 1px solid salmon;
    color: salmon;
    font-size: 2rem;
    align-content: center;
    text-align: center;
}
.style1, .style2, .style3, .style4, .style5 {
    min-width: 20%;
}
.vertical_row {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding-bottom: 2rem;
}
.horizontal_row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    padding-bottom: 2rem;
    border: 1px solid green;
}
.center {
    text-align: center;
    font-size: 3rem;
}
#prize {
    min-width: 10%;
    font-size: 2rem;
    border: 1px dotted salmon;
    margin-left: 1rem; 
    padding-left: 1rem;
}
#img1, #img2 {
    height: 100%;
    width: 50%;
    object-fit: contain;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px dotted powderblue;
}
#p1, #p2 {
    font-size: 3rem;
    border: 1px dotted powderblue;
    width: 50%;
    margin: 0.5rem;
    padding: 0.5rem;
}
#celsius {
    font-size: 3rem;
    color: red;
    text-align: center;
}
#cat_image {
    height: 75%;
    width: 50%;
    object-fit: contain;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px dotted powderblue;
}